* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}
#root {
  height: 100%;
  font-size: 1.6em;
}
.container {
  // background: #99ccff;
  font-size: 1.6em;
}
